/* *********************************** */
:root {
  --primary-orange: #C58940;
  --success : #5cb85c;
}
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}


.navbar-nav > li > a.active, .navbar-nav >li > a.active:focus {
   border-top: 0.1875 solid var(--success);
}
.navbar-nav li  a.active {
  border-top: 0.1875 solid var(--success);
}

nav ul li a:hover {
  border-top: 0.1875 solid var(--success);
}

/* ************* HEADER ***************** */

.header {
  position: relative;
  height: 80vh;
  background-color: black;
}

.main-info {
  display: flex;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center ;
}
.main-info h1 {
  color: var(--success);
  text-transform: uppercase;
}

.typed-text {
  color: var(--success);
  font-size: 2rem;
}

.photo {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border: 0.3rem solid  var(--success);
    height: 10rem;
    width: 20rem;
    border-radius: 0.01rem;  
    /* opacity: 0.5; */
}
.image {
  position: relative;
  border: 0rem solid var(--success);
  height: 80vh;
  width: 100vw;
  object-fit: cover;
  opacity: 0.5;
  /* border-radius: 5rem;   */
}

/* ********************About me section *************** */


#about {
  background-color: #030303;
  padding: 100px 0;
}

.section-heading {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.my-4 {
  margin-top: 18px;
  margin-bottom: 40px;

}
.lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}